<div id="home">
	<div class="container-fluid">
		 <div class="row"> 
            <div class="span7 offset3" id="logo">
            	 
       	         <h3>Le premier aggregateur d'infographie francais</h3>
            </div>
         </div>
    </div>
</div>
<div id="arrow">
	<div class="container-fluid">
		 <div class="row"> 
           
            	 
       	       <%= image_tag "arrow.png" %>
           
         </div>


</div>

<div id="icone">
	<div class="container-fluid">
		 <div class="row"> 
           
            	 
       	      
           
         </div>


</div>