// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";

body{
	background-color: transparent;
	height: 100%;
    margin-top: 40px;
}

#home{
 background: url("raf.png") no-repeat center center fixed;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-ms-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
min-height: 100%;
color :white;
box-shadow: 0px 1px 10px 5px rgba(221,221,221,1);
-webkit-box-shadow: 0px 1px 10px 5px rgba(221,221,221,1);
}

html{
	height:94.3%;
}

#arrow{
	margin-top: -58px;
	text-align: center;
	  }

#icone{
	
	
	text-align: center;
	margin-top: 80px;
}
#text1{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;

}

#blank_spot{
	height: 100px;
}

footer{
	background: url("footer.jpg") repeat;
	height :200px;
}